<a href="https://colab.research.google.com/github/Ananth-25/ananth/blob/master/Copy_of_Ananth_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Creation of List 

# Creating a List 
List = [] 
print("Intial blank List: ") 
print(List)

Intial blank List:
[]

In [0]:
# Creating a List with 
# the use of a String 
List = ['Ananth Vasishta'] 
print("\nList with the use of String: ") 
print(List)

List with the use of String:
['Ananth Vasishta']

In [0]:
# Creating a List with 
# the use of multiple values 
List = ["Ananth ", "For", "LetsUpgrade.in Student"] 
print("\nList containing multiple values: ") 
print(List[0]) 
print(List[2])

List containing multiple values:
Ananth
LetsUpgrade.in Student

In [0]:
# Creating a Multi-Dimensional List 
# (By Nesting a list inside a List) 
List = [['Ananth', 'For'] , ['LetsUpgrade.in Student']] 
print("\nMulti-Dimensional List: ") 
print(List)

Multi-Dimensional List:
[['Ananth', 'For'], ['LetsUpgrade.in Student']]

In [0]:
# Python program to demonstrate 
# Addition of elements in a List 

# Creating a List 
List = [] 
print("Initial blank List: ") 
print(List)

Initial blank List:
[]

In [0]:
# Addition of Elements 
# in the List 
List.append(1) 
List.append(2) 
List.append(4) 
print("\nList after Addition of Three elements: ") 
print(List)

List after Addition of Three elements:
[1, 2, 4]

In [0]:
# Python program to demonstrate 
# Addition of elements in a List 

# Creating a List 
List = [1,2,3,4] 
print("Initial List: ") 
print(List)

Initial List:
[1, 2, 3, 4]

In [0]:
# Addition of Element at 
# specific Position 
# (using Insert Method) 
List.insert(3, 12) 
List.insert(0, 'Ananth Vasishta') 
print("\nList after performing Insert Operation: ") 
print(List)

List after performing Insert Operation:
['Ananth Vasishta', 1, 2, 3, 12, 4]

In [0]:
# Removing elements from List 
# using Remove() method 
List.remove(2) 
List.remove(3) 
print("\nList after Removal of two elements: ") 
print(List)

List after Removal of two elements:
['Ananth Vasishta', 1, 12, 4]

In [0]:
# Removing element at a  
# specific location from the  
# Set using the pop() method 
List.pop(2) 
print("\nList after popping a specific element: ") 
print(List)

List after popping a specific element:
['Ananth Vasishta', 1, 4]

In [0]:
# (using Extend Method) 
List.extend([8, 'LetsUpgrade.in Student', 'Always']) 
print("\nList after performing Extend Operation: ") 
print(List)

List after performing Extend Operation:
['Ananth Vasishta', 1, 4, 8, 'LetsUpgrade.in Student', 'Always']

In [0]:
# (using Delete Method)
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [0]:
# (using Clear Method)
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [0]:


# Creating a Dictionary 
# with Integer Keys 
Dict = {1: 'Ananth', 2: 'Vasishta', 3: 'LetsUpgrade.in'} 
print("\nDictionary with the use of Integer Keys: ") 
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'Ananth', 2: 'Vasishta', 3: 'LetsUpgrade.in'}

In [0]:
# Creating a Dictionary 
# with Mixed keys 
Dict = {'Name': 'Ananth Vasishta', 1: [1, 2, 3, 4]} 
print("\nDictionary with the use of Mixed Keys: ") 
print(Dict)

Dictionary with the use of Mixed Keys:
{'Name': 'Ananth Vasishta', 1: [1, 2, 3, 4]}

In [0]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict)

Empty Dictionary:
{}

In [0]:
# Creating a Dictionary 
# with dict() method 
Dict = dict({1: 'Ananth', 2: 'Vasishta', 3:'LetsUpgrade.in'}) 
print("\nDictionary with the use of dict(): ") 
print(Dict)

Dictionary with the use of dict():
{1: 'Ananth', 2: 'Vasishta', 3: 'LetsUpgrade.in'}

In [0]:
# Creating a Dictionary 
# with each item as a Pair 
Dict = dict([(1, 'Ananth Vasishta'), (2, 'LetsUpgrade.in')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict)

Dictionary with each item as a pair:
{1: 'Ananth Vasishta', 2: 'LetsUpgrade.in'}

In [0]:

# Adding elements one at a time 
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ") 
print(Dict)

Dictionary after adding 3 elements:
{1: 'Ananth Vasishta', 2: 'For', 0: 'Geeks', 3: 1}

In [0]:
# Accessing a element using get() 
# method 
print("\nAccessing a element using get:") 
print(Dict.get(3))

Accessing a element using get:
1

In [0]:
# Initial Dictionary 
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'Geeks', 
		'A' : {1 : 'Geeks', 2 : 'For', 3 : 'Geeks'}, 
		'B' : {1 : 'Geeks', 2 : 'Life'}} 
print("Initial Dictionary: ") 
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

In [0]:
# Deleting a Key value 
del Dict[6] 
print("\nDeleting a specific key: ") 
print(Dict)

Deleting a specific key:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

In [0]:

# Deleting a Key from 
# Nested Dictionary 
del Dict['A'][2] 
print("\nDeleting a key from Nested Dictionary: ") 
print(Dict)

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

In [0]:
# Creating a Dictionary 
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

In [0]:
# Deleting a key 
# using pop() method 
pop_ele = Dict.pop(1) 
print('\nDictionary after deletion: ' + str(Dict)) 
print('Value associated to poped key is: ' + str(pop_ele))

Dictionary after deletion: {'name': 'For', 3: 'Geeks'}
Value associated to poped key is: Geeks

In [0]:
# Creating a Dictionary 
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

In [0]:
# Deleting entire Dictionary 
Dict.clear() 
print("\nDeleting Entire Dictionary: ") 
print(Dict)

Deleting Entire Dictionary:
{}

In [0]:
# Creation of Set in Python 

# Creating a Set 
set1 = set() 
print("Intial blank Set: ") 
print(set1)

Intial blank Set:
set()

In [0]:
# Creating a Set with 
# the use of a String 
set1 = set("Ananth") 
print("\nSet with the use of String: ") 
print(set1)

Set with the use of String:
{'a', 't', 'h', 'n', 'A'}

In [0]:
# Creating a Set with 
# the use of a List 
set1 = set(["Ananth", "For", "Geeks","Ananth"]) 
print("\nSet with the use of List: ") 
print(set1)

Set with the use of List:
{'For', 'Ananth', 'Geeks'}

In [0]:
# Adding element and tuple to the Set 
set1.add(8) 
set1.add(9) 
set1.add((6,7)) 
print("\nSet after Addition of Three elements: ") 
print(set1)

Set after Addition of Three elements:
{(6, 7), 'Geeks', 8, 9, 'For', 'Ananth'}

In [0]:
# using Update function 
set1 = set([ 4, 5, (6, 7)]) 
set1.update([10, 11]) 
print("\nSet after Addition of elements using Update: ") 
print(set1)

Set after Addition of elements using Update:
{4, 5, (6, 7), 10, 11}

In [0]:
# Creating a Set 
set1 = set([1, 2, 3, 4, 5, 6,  
            7, 8, 9, 10, 11, 12]) 
print("Intial Set: ") 
print(set1)

Intial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [0]:
# Removing elements from Set 
# using Remove() method 
set1.remove(5) 
set1.remove(6) 
print("\nSet after Removal of two elements: ") 
print(set1)

Set after Removal of two elements:
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

In [0]:
# Removing element from the  
# Set using the pop() method 
set1.pop() 
print("\nSet after popping an element: ") 
print(set1)

Set after popping an element:
{2, 3, 4, 7, 8, 9, 10, 11, 12}

In [0]:
# Removing all the elements from  
# Set using clear() method 
set1.clear() 
print("\nSet after clearing all the elements: ") 
print(set1)

Set after clearing all the elements:
set()